@import "../../globals.css";

.container{
    background: linear-gradient(77deg, rgba(151,53,196,0.2) 37%, rgba(180,53,196,0.2) 100%);
}

.landing-div{
    display: flex;
    flex-direction: row;
    padding: 7%;
}

.highlight-text{
    color: var(--main-color);
}

.text-div{
    width: 45%;
}

.landing-text{
    font-size: clamp(2rem, 3.5vw, 4rem);
    padding-right: 0%;
    margin: 0px;
}

.landing-subtext{
    font-size: clamp(1rem, 2vw, 2rem);
    padding-bottom: 4%;
}

.image-container{
    width: 55%;
    padding-left: 5%;
}

.landing-image{
    width: 100%;
}

.link-highlight{
    background-color: var(--main-color);
    color: white;
    padding: 10px 18px;
    border-radius: 25px;
    font-weight: 500;
}

.secondary-anchor{
    font-weight: 500;
    border: 2px solid var(--main-color);
    background: transparent;
    padding: 10px 18px;
    border-radius: 25px;
    margin-left: 5%;
    color: var(--main-color);
}

@media(max-width: 850px){

    .landing-div{
        flex-direction: column;
        padding-bottom: 0px;
    }
    .image-container, .text-div{
        width: 80%;
        margin: auto;
        padding-bottom: 20%;
    }

    .image-container{
        padding-left: 0px;
    }

    .text-div{
        text-align: center;
    }

    #highlight-anchor, .secondary-anchor{
        font-size: 14px;
    }
}

@media(max-width: 500px){
    .image-container, .text-div{
        width: 90%;
    }
}